.toolbar .toolbar-bar .toolbar-icon-dashboard:before,
.toolbar .toolbar-bar .toolbar-icon-dashboard.active:before {
  background-image: url("../images/icons/bebebe/theater-masks.svg");
}

#dashboard-q {
  background-image: url("../images/icons/bebebe/theater-masks.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

[dir="rtl"] #dashboard-q {
  background-position: left 20px center;
}
