@import '../../../../../themes/custom/opera_brevis_2020/scss/partials/design/schriften';
@import '../../../../../themes/custom/opera_brevis_2020/scss/partials/design/farben.scss';

.content .opera-brevis-unterstuetzen-block {
  border-left: 3px solid silver;
  padding-left: 9px;

  p {
    @include font-serif-italic;
    color: $color-text-on-dark;
  }
  a,
  a:link {
    @include font-serif-bold-italic;
    color: $color-link;
  }
}

#block-footerunterstutzenblock {
}
