.content .opera-brevis-unterstuetzen-block {
  border-left: 3px solid silver;
  padding-left: 9px;

  p{
    font-family: Lora-Regular, serif;
    font-size: 16px;
    line-height: 20px;
  }
 a, a:link{
    font-family: Lora-MediumItalic,serif;
    font-size: 16px;
    color: #A77B1A;
  }
}

#block-footerunterstutzenblock {
}
