{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

  <div class="opera-brevis-unterstuetzen-block">
    <p>opera brevis <br> unterstützen?</p>
    <p><i class="fas fa-arrow-right"></i> <a href="/club">100er Club</a></p>
  </div>
