{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

  <div class="opera-brevis-footer-login-block">
    <a class="brevis-button-login" role="button" href="/user">
    <i class="icon fas fa-user"></i> Login</a>
  </div>
