{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

  <div class="opera-brevis-unterstuetzen-block">
    <a href="/club">
    <div class="opera-brevis-unterstuetzen-text">opera brevis <br> unterstützen?</div>
      <div><i class="fas fa-arrow-right"></i> <span class="opera-brevis-unterstuetzen-club">100er Club</span></div>
    </a>
  </div>
