{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

<div class="opera-brevis-footer-logo-block">
  <img src="/themes/custom/opera_brevis_2020/images/logo/opera-brevis_140x31.svg" alt="opera brevis logo" width="140" height="31">
</div>
